@import "bootstrap";

/* ----- GENERAL ----- */

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 400;
    color: $body-color;
}

h3 {
    font-weight: 400;
    color: $primary;
}

.btn {
    text-transform: uppercase;
}

.covered {
    margin-left: -1rem;
}

rect {
    transform-origin: center;
}

/* UL */
.bxs-ul {
    list-style: none;
    padding: 0;

    li {
        background: url(../img/bullet-point-bxs.svg) no-repeat;
        background-position: top left;
        background-size: 22px;
        padding: 0 0 1rem 2rem;
    }
}

/* ----- Nav ----- */

.navbar-collapse {
    background: white;
    box-shadow: $box-shadow;

    .navbar-nav {
        padding: 30px;
    }
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler {
    padding: 10px;

    &[aria-expanded="true"] {
        background: white;
        box-shadow: $box-shadow;
        border-radius: 0;
    }
}

/* ----- Accordion ----- */

.accordion-item {
    box-shadow: 0 0 10px rgb(0 0 0 / 7%);
    margin: 10px 0;
    border: none;

    button {
        font-size: 21px;
        font-weight: 400;
        box-shadow: none !important;
    }
}

/* ----- Landing ----- */
.rectangle-bg-landing {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    max-width: 100%;
}

@mixin svg-with-rect-bg {
    position: absolute;
    left: 0;
    z-index: -1;
    max-width: 100%;
}
.img-with-bg-landing {
    svg {
        @include svg-with-rect-bg;
        top: -90px;
    }
    img {
        width: 90%;
    }
}

.img-with-bg-publisher {
    svg {
        @include svg-with-rect-bg;
        top: -50px;
    }
    img {
        width: 80%;
    }
}

.img-with-bg-marketplace {
    svg {
        @include svg-with-rect-bg;
        top: -10px;
    }
    img {
        width: 90%;
    }
}

.landing-banner-container {
    min-height: 90vh;
    display: flex;
    align-items: center;
    background: url("../img/top-banner-img_opt.png") no-repeat;
    background-position: 100% 80%;
}

.above-title-text {
    font-weight: 300;
    font-size: 21px;
    text-transform: uppercase;
    color: #a4a4a4;
    margin-bottom: 0;
}

.section-bxs-customers {
    background: url(../img/x-bg.svg) no-repeat;
    background-size: contain;
    background-position: center;

    .inner-block {
        max-width: 450px;
    }
}

.rectangle-img-bg {
    position: absolute;
    z-index: -1;
    max-width: 100%;
    top: 0;
    left: 0;
}

.contact-header img {
    width: 70px;
}

/* ----- Publisher Page ----- */
.logo-icon-circle {
    border: 3px dashed $primary;
    border-radius: 200px;
    width: 150px;
    height: 150px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

/* ----- Publisher Page ----- */
.main-benefits span {
    padding: 15px 30px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    display: inline-block;
    margin: 10px;
    font-size: 1rem;
    border-left: 2px solid $primary;
}

/* ----- Footer ----- */

.footer-nav a {
    color: $body-color;
    font-weight: 500;
    text-decoration: none;
}

/* ----- Animations ----- */
@mixin rotate-mixin($name, $initial, $middle) {
    @keyframes #{$name} {
        0% {
            -webkit-transform: rotate($initial);
            transform: rotate($initial);
        }
        50% {
            -webkit-transform: rotate($middle);
            transform: rotate($middle);
        }
        100% {
            -webkit-transform: rotate($initial);
            transform: rotate($initial);
        }
    }
}

@include rotate-mixin(rotate-1, 1deg, 5deg);
@include rotate-mixin(rotate-2, -2deg, -3deg);
@include rotate-mixin(rotate-3, -40deg, -38deg);
@include rotate-mixin(rotate-4, -40deg, -43deg);

#rectangle_2 {
    animation: rotate-1 4s linear infinite;
}

#rectangle_1 {
    animation: rotate-2 6s linear infinite;
}

#rectangle_3 {
    animation: rotate-3 4s linear infinite;
}

#rectangle_4 {
    animation: rotate-4 6s linear infinite;
}

/* ----- Queries ----- */
@include media-breakpoint-up(lg) {
    .navbar-expand-lg .navbar-collapse {
        background: none;
        box-shadow: none;
    }
}

@include media-breakpoint-down(lg) {
    .landing-banner-container {
        min-height: 80vh;
        background-image: none;
    }

    .rectangle-bg-landing {
        max-width: none;
    }

    .logo-icon-circle {
        position: absolute;
        z-index: -1;
        opacity: 0.1;
        top: 30%;
        width: 200px;
        height: 200px;
    }

    .img-with-bg-landing {
        svg {
            top: -50px;
        }
    }

    .img-with-bg-marketplace {
        svg {
            top: -30px;
        }
    }
}

@media (max-width: 440px) {
    .covered {
        margin-left: 0;
    }
}

//*************************************************/

span.vl {
    border-left: 2px solid #e5e5e5;
    margin: 0 0.8em;
}

.red {
    color: var(--bs-primary);
}

.form-control {
    border-radius: 1.5rem;
}

label {
    margin-left: 1em;
}

hr.red {
    height: 3px;
    opacity: 1;
}

.faq-header .graphics,
.contact-header .graphics {
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    width: 160px;
}
.faq-header .text {
    margin-left: 50px;
}

.contact-header .graphics {
    background-image: url("../img/email_icon.png");
}

.faq-header .graphics {
    background-image: url("../img/faq-icon.png");
}

/** dotted list **/

.dotted-list {
    border-left: var(--bs-primary) dotted thick;
    padding-left: 4px;
}

.dotted-list li {
    list-style: none;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
}

ul.dotted-list li span.dots::before {
    content: "\2022\00A0\2022\00A0\2022\00A0\2022\00A0\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--bs-primary); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 3.2em; /* Also needed for space (tweak if needed) */
}

.dotted-list .pt-0 {
    position: relative;
    top: -3px;
}

.dotted-list .pb-0 {
    position: relative;
    bottom: -4px;
}

.dotted-list-left {
    direction: rtl;
    margin-right: 0;
    padding-right: 0;
    border-left: none;
}

.dotted-list-left li {
    padding-right: 4px;
}

.no-dots::before {
    content: "";
}

/*************** marketplaces ******************/

#benefits ul {
    padding-left: 0;
}

.benefit-items div {
    border-left: var(--bs-primary) solid thick;
}

/********************** cognito forms ***********************/

.cognito INPUT[type="text"],
.cognito INPUT[type="password"],
.cognito INPUT[type="email"],
.cognito INPUT[type="tel"],
.cognito INPUT[type="url"],
.cognito textarea,
.cognito select {
    padding: 0.375rem 0.75rem;
    border-radius: 1.5rem;
    border: 1px solid #ced4da;
}

.cognito button {
    padding-right: 3rem;
    padding-left: 3rem;
}

.cfs-2-5 {
    font-size: 2.5em;
}

/* Hide cognito forms branding */
.cognito {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        height: 30px;
        bottom: 0;
        width: 100%;
        background: white;
        display: block;
    }
}
