.rectangle-bg-landing {
    position: absolute;
    top: -60%;
    left: -20%;
    z-index: -1;
    max-width: 100%;
}

.landing-banner-container {
    min-height: 90vh;
    display: flex;
    align-items: center;
}

#Rectangle_1 {
    animation: rotate-1 2s linear infinite;
}

@keyframes rotate-1 {
    0% {
        -webkit-transform:  rotateZ(-30deg);
        transform:  rotateZ(-30deg);
    }
    50% {
        -webkit-transform:  rotateZ(-31deg);
        transform:  rotateZ(-31deg);
    }
    100% {
        -webkit-transform:  rotateZ(-30deg);
        transform:  rotateZ(-30deg);
    }
}

#Rectangle_2 {
    animation: rotate-2 2s linear infinite;
}

@keyframes rotate-2 {
    0% {
        -webkit-transform:  rotateZ(-30deg);
        transform:  rotateZ(-34deg);
    }
    50% {
        -webkit-transform:  rotateZ(-31deg);
        transform:  rotateZ(-33deg);
    }
    100% {
        -webkit-transform:  rotateZ(-30deg);
        transform:  rotateZ(-34deg);
    }
}

//*************************************************/

span.vl {
    border-left: 2px solid #888;
    margin: 0 0.8em;
}

.btn {
    border-radius: 50rem;
}

.red {
    color: var(--bs-primary);
}

.form-control {
    border-radius: 1.5rem;
}

label {
    margin-left: 1em;
}

hr.red {
    height: 1em;
    opacity: 1;
}

.faq-header .graphics,
.contact-header .graphics {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #d02d3533;
    background-size: 60px;
    height: 120px;
    width: 160px;
}
.faq-header .text,
.contact-header .text {
    margin-left: 50px;
}

.contact-header .graphics {
    background-image: url("../img/contact-icon.png");
}

.faq-header .graphics {
    background-image: url("../img/faq-icon.png");
}

button.covered {
    position: relative;
    left: -1em;
}

/** dotted list **/

.dotted-list {
    border-left: var(--bs-primary) dotted thick;
    padding-left: 4px;
}

.dotted-list li {
    list-style: none;
    padding-top: 1em;
    padding-bottom: 1em;
}

ul.dotted-list li::before {
    content: "\2022\00A0\2022\00A0\2022\00A0\2022\00A0\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--bs-primary); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 3.2em; /* Also needed for space (tweak if needed) */
}

.dotted-list .pt-0 {
    position: relative;
    top: -3px;
}

.dotted-list .pb-0 {
    position: relative;
    bottom: -4px;
}

.dotted-list-left {
    direction: rtl;
    margin-right: 0;
    padding-right: 0;
}

.dotted-list-left li {
    padding-right: 4px;
}

.no-dots::before {
    content: '';
}

#how-it-works {
    padding-top: 4em;
    background: url("../img/re-setting.png") top left no-repeat;
    background-size: 3em;
}


/*************** marketplaces ******************/

#benefits ul {
    padding-left: 0;
}

#benefits li {
    list-style: none;
    padding-left: 2em;
    border-left: var(--bs-primary) solid thick;
}