@import "bootstrap";

/* ----- GENERAL ----- */

h1 {
    font-weight: 400;
}

h3 {
    font-weight: 400;
    color: $primary;
}

.btn {
    min-width: 140px;
    text-transform: uppercase;
}

/* UL */
.bxs-ul {
    list-style: none;
    padding: 0;

    li {
        background: url(../img/bullet-point.svg) no-repeat;
        background-position: left 7px;
        padding: 0 0 1rem 2rem;
    }
}

/* ----- Landing ----- */

.rectangle-bg-landing {
    position: absolute;
    top: -60%;
    left: -20%;
    z-index: -1;
    max-width: 100%;
}

.landing-banner-container {
    min-height: 90vh;
    display: flex;
    align-items: center;

    img {
        width: 100%;
    }
}

.above-title-text {
    font-weight: 300;
    font-size: 21px;
    text-transform: uppercase;
    color: #a4a4a4;
}

.section-bxs-customers {
    background: url(../img/x-bg.svg) no-repeat;
    background-size: contain;
    background-position: center;

    .inner-block {
        max-width: 450px;
    }
}

.rectangle-img-bg {
    position: absolute;
    z-index: -1;
    max-width: 100%;
    top: 0;
    left: 0;
}

#rectangle-3 {
    animation: rotate-1 4s linear infinite;
}

#rectangle-4 {
    animation: rotate-3 4s linear infinite;
}

@keyframes rotate-1 {
    0% {
        -webkit-transform: matrix(0.996, 0.087, -0.087, 0.996, 29.894, 2.724);
        transform: matrix(0.996, 0.087, -0.087, 0.996, 29.894, 2.724);
    }
    70% {
        -webkit-transform: matrix(0.996, 0.087, -0.087, 0.996, 50.894, 15.724);
        transform: matrix(0.996, 0.087, -0.087, 0.996, 50.894, 15.724);
    }
    100% {
        -webkit-transform: matrix(0.996, 0.087, -0.087, 0.996, 29.894, 2.724);
        transform: matrix(0.996, 0.087, -0.087, 0.996, 29.894, 2.724);
    }
}

#Rectangle_2 {
    animation: rotate-2 4s linear infinite;
}

@keyframes rotate-2 {
    0% {
        -webkit-transform: rotateZ(-44deg);
        transform: rotateZ(-44deg);
    }
    50% {
        -webkit-transform: rotateZ(-42deg);
        transform: rotateZ(-42deg);
    }
    100% {
        -webkit-transform: rotateZ(-44deg);
        transform: rotateZ(-44deg);
    }
}

@keyframes rotate-3 {
    0% {
        -webkit-transform: matrix(0.985, -0.174, 0.174, 0.985, 106.999, 208.378);
        transform: matrix(0.985, -0.174, 0.174, 0.985, 106.999, 208.378);
    }
    70% {
        -webkit-transform: matrix(0.985, -0.174, 0.174, 0.985, 100.999, 198.378);
        transform: matrix(0.985, -0.174, 0.174, 0.985, 100.999, 198.378);
    }
    100% {
        -webkit-transform: matrix(0.985, -0.174, 0.174, 0.985, 106.999, 208.378);
        transform: matrix(0.985, -0.174, 0.174, 0.985, 106.999, 208.378);
    }
}

//*************************************************/

span.vl {
    border-left: 2px solid #888;
    margin: 0 0.8em;
}

.red {
    color: var(--bs-primary);
}

.form-control {
    border-radius: 1.5rem;
}

label {
    margin-left: 1em;
}

hr.red {
    height: 1em;
    opacity: 1;
}

.faq-header .graphics,
.contact-header .graphics {
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    width: 160px;
}
.faq-header .text,
.contact-header .text {
    margin-left: 50px;
}

.contact-header .graphics {
    background-image: url("../img/email_icon.png");
}

.faq-header .graphics {
    background-image: url("../img/faq-icon.png");
}

.covered {
    position: relative;
    left: -1em;
}

/** dotted list **/

.dotted-list {
    border-left: var(--bs-primary) dotted thick;
    padding-left: 4px;
}

.dotted-list li {
    list-style: none;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
}

ul.dotted-list li span.dots::before {
    content: "\2022\00A0\2022\00A0\2022\00A0\2022\00A0\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--bs-primary); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 3.2em; /* Also needed for space (tweak if needed) */
}

.dotted-list .pt-0 {
    position: relative;
    top: -3px;
}

.dotted-list .pb-0 {
    position: relative;
    bottom: -4px;
}

.dotted-list-left {
    direction: rtl;
    margin-right: 0;
    padding-right: 0;
    border-left: none;
}

.dotted-list-left li {
    padding-right: 4px;
}

.no-dots::before {
    content: "";
}

#how-it-works {
    padding-top: 4em;
    background: url("../img/re-setting.png") top left no-repeat;
    background-size: 3em;
}

/*************** marketplaces ******************/

#benefits ul {
    padding-left: 0;
}

#benefits li {
    list-style: none;
    padding-left: 2em;
    border-left: var(--bs-primary) solid thick;
}

/********************** cognito forms ***********************/

.cognito INPUT[type="text"],
.cognito INPUT[type="password"],
.cognito INPUT[type="email"],
.cognito INPUT[type="tel"],
.cognito INPUT[type="url"],
.cognito textarea,
.cognito select {
    padding: 0.375rem 0.75rem;
    border-radius: 1.5rem;
    border: 1px solid #ced4da;
}

.cognito button {
    padding-right: 3rem;
    padding-left: 3rem;
}

.cfs-2-5 {
    font-size: 2.5em;
}
