body {
	background-image: url('../img/top-banner.png');
	background-repeat: no-repeat;
	background-position:  center top;
	background-size: 100%;
}
.header {
	margin-top: 300px;
	/*
	margin-bottom: 300px;
	*/
	height: 60vh;
}

span.vl {
	border-left: 2px solid #888;
	margin: 0 0.8em;
}

.btn {
	border-radius: 50rem;
}

.red {
	color: var(--bs-primary);
}

.form-control {
	border-radius: 1.5rem;
}

label {
	margin-left: 1em;
}

hr.red {
	height: 1em;
	opacity: 1;
}

.faq-header .graphics, .contact-header .graphics {
	background-repeat: no-repeat;
	background-position: center;
	background-color: #d02d3533;
	background-size: 60px;
	height: 120px;
	width: 160px;
}
.faq-header .text, .contact-header .text {
	margin-left: 50px;
}

.contact-header .graphics {
	background-image: url("../img/contact-icon.png");
}

.faq-header .graphics {
	background-image: url("../img/faq-icon.png");
}
